RABBITMQ_USER=usuario_rabbitmq
RABBITMQ_PASSWORD=clave_rabbitmq
DB_HOST=localhost
DB_PORT=5433
DB_NAME=nombre_base_datos
DB_USER=usuario_base_datos
DB_PASSWORD=clave_base_datos

ORACLE_JDBC_URL=jdbc:oracle:thin:@CADENA_TLS_ORACLE
ORACLE_DB_USER=GUIAS_APP
ORACLE_DB_PASSWORD=CAMBIAR
